# Database path for Bitcoin indexer, for reading all blocks and txs
DB_FILE_PATH=data

# Bitcoin Node RPC URL
NODE_RPC_URL=http://user:password@localhost:18443

# Bitcoin Height to start indexing
CHECKPOINT_HEIGHT= 1000

# App log
RUST_LOG=info # posible values  error | warn | info | debug | trace